body{
  font-family:Arial, Helvetica, sans-serif;
   margin:0px 0px 0px 0px 
}

/* .content {
  background-color: rgb(17, 68, 68);
  height: 1000px;
} */

.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 10, 24, 0.300);
  
  font-size: 20px;
  /* padding: 10px; */
  font-weight: 600;
}

.logo {
  margin-right: 20px;
}

.nav-list ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-list li {
  margin-right: 70px;
}

.nav-list a {
  color: rgb(206, 192, 192);
  text-decoration: none;
}

.nav-list a:hover{
  color: rgb(255, 255, 255);
  text-decoration:underline;
}

.btn-login{
  background-color: transparent;
  border: 1px solid rgb(206, 192, 192);
  border-radius: 50px;
  color: rgb(206, 192, 192);
  padding: 5px 10px;
  margin-left: 50px;
  cursor: pointer;
  font-size: 20px;
}

.btn-login:hover {
  background-color: #7e2b1f;
  color: rgb(252, 252, 252);
}

.content-header{
  /* background-color: aqua; */
  height:600px;
  position: relative;
  z-index: 1;
}

.imgBarco{
  position:absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 800px;
  background-size: cover; 
  background-position: center;
  z-index: 0;
  overflow: hidden;
  background-image: url('../src/assets/img/barcoCarga.jpg');
  
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
  z-index: 1; /* Asegura que el div overlay esté por encima del contenido */
  box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
}

.content-section {
  margin-left: 20px;
  position: fixed; /* Asegura que los elementos hijos posicionados se ajusten al contenido */
  z-index: 5; /* Asegura que el contenido esté por encima de la imagen de fondo */
}

.content-presentacion{
  position: relative;
  flex-direction: column;
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -150%); /* Centra el componente */
  z-index: 2;
  display: flex;
  color: rgb(255, 255, 255);;
  align-items: center;

}

.content-presentacion .btn-presentacion{
  background-color: #0C1722;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none; 
  height: 50px;
}

.content-presentacion .btn-presentacion:hover{
  background-color: #316291;
  box-shadow: 1px 2px 12px -3px rgba(3, 11, 59, 0.75);
}


/* .content-presentacion .btn-presentacion .btn-pre{
  color: rgb(255, 255, 255); 
}  */

.content-presentacion .btn-presentacion .btn-pre:hover{
  background-color: #316291;

}

.home-contenido{
  display: flex;
  margin-top: 35px;
  background-color: #0C1722;
  box-shadow: 1px 2px 12px -3px rgba(0,0,0,0.75);
}
.home-contenido .content-imgh{
  margin-left: 20px;
  background-color: #7e2b1f;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 15px
}

.home-contenido .content-p{
  /* background-color: rgb(191, 233, 233); */
  width: 100%;
  margin: 0px 20px 0px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo-home{
  color: rgb(255, 255, 255);
  margin: 30px; 
  font-size: 40px;
}

.pais-productos{
  display: flex ;
  align-items: center;
  justify-content: center;
}

.pais-productos h2{
  padding: 30px;
  font-size: 30px;
}

.section-home .content-card{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  gap: 30px;
  transition: opacity 0.6s ease;
}

.section-home .content-card:hover > :not(:hover){
  opacity:0.5;
}


.section-home .card{
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px; /* Ancho de la tarjeta */
}

/* .section-home .card:hover > :not(:hover){
  /* opacity:0.4; */
  /* box-shadow: 10px 9px 7px -6px rgba(126,43,31,1); */


.section-home .card-img{
  width: 100%;
  height: 200px; /* Altura deseada para la imagen */
  object-fit: cover; /* Ajustar la imagen al contenedor sin distorsionarla */
}

.section-home .card-content{
  padding: 16px;
}

.card-content .card-title{
  font-size: 20px;
  margin-bottom: 8px;
}

.card-content .card-band{
  width: 30px;
  border-radius: 20%;
}

.card-content .card-text{
  font-size: 16px;
  color: #666;
  margin-bottom: 16px;
}

.btn-vProductos{
  background-color: #7e2b1f;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none; 
  height: 50px;
  margin-bottom: 50px;
}

.btn-vProductos:hover{
  background-color: #D21414;
}

.home-parte3{
  background-color: #b80c0c;
  height: 420px;
  font-size: 20px;
  color: white;
  padding-top: 20px;
}

.conten-home3{
  display: flex;
  align-items: center;
}

.content-p3{
width: 50%;
margin-left: 20%;
margin-right: 60px;
background-color: #930e0e;
border-radius: 10px;

}

.parrafo-home3{
  color: rgb(255, 255, 255);
  margin: 30px; 
  font-size: 20px;
}

.parrafo-home3 a{
  color: #F38181;
}
.content-imgh3{
  margin-right: 20%;
  background-color:#ffffff;
  padding: 30px;
  border-radius: 5px;
}


.home-parte4{
  padding:0px 70px 0px 70px;
}

.home-parte4 .content-beneficios1{
  width: 40%;
  background-color: #316291;
  color: white;
  border-radius: 20px;
}
.home-parte4 .content-beneficios1 p{
  padding: 30px;
}
.home-parte4 .content-beneficios2{
  width: 50%;
  margin: 0px 200px 0px 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #316291;
  color: white;
  border-radius: 20px;
}
.home-parte4 .content-beneficios2 p{

  padding: 30px;
}

.home-parte4 .content-beneficios3{
  margin: 15px 0px 15px 650px;
  display: flex;
  justify-content: end;
  align-items:end ;
  background-color: #316291;
  color: white;
  border-radius: 20px;
}

.home-parte4 .content-beneficios3 p{
  padding: 30px;
}


.content-foot{
  height: 200px;
  margin-top:none;
  padding-top: 30px;
  background-color: #E1EBF5;

}

.content-foot ul{
  text-decoration: none;
  list-style: none;
}

.footer-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-list ul li{
  text-decoration: none;
  list-style: none;
}

.footer-final{
  display: flex;
  align-items: center;
  justify-content: center;
  color:#0e4273;
  font-weight: 600;
  text-decoration: none;
  list-style: none;
}

.logo-footer{
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle, transparent 50%, #122435 50%); /* Círculo transparente con color en la mitad inferior */
  background-size: 100% 200%; /* Tamaño del gradiente */
  transition: background-position 0.3s ease;
}


.logo-footer:hover {
  background-position: 0% 100%;
}


.content-compraExitosa {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh; 
}

.content-mensaje {
  background-color: #f0f8ff; 
  padding: 20px;
  border: 2px solid #172F44; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center; 
}

.content-mensaje h2 {
  margin: 0;
  margin-bottom: 10px;
  color: #316291; 
}

.content-mensaje p {
  margin: 0;
  color: #555;
}

